<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>
<h2 class="pb-4 pt-2" [translate]="'Requests.RequestsNew'"></h2>
<div class="card">
  <div class="card-body">
     <!-- Request from template -->
    <form *ngIf="model.alternateName!='OtherRequest'" #newForm="ngForm" >
      <div class="form-group">
        <h4 class="pt-2 pb-1">{{ 'Requests.BasicInfo'  | translate}}</h4>
        <div class="pb-3 text-gray-600">{{ 'NewRequestTemplates.' + model.alternateName + '.Summary'  | translate}}</div>
      </div>
      <div class="form-group">
        <h4 class="pt-2 pb-1" [translate]="'Requests.SpecialRequest'"></h4>
        <div class="pb-1 text-gray-600" [translate]="'Requests.SpecialRequestFullMessage'"></div>
        <textarea maxlength="512" autocomplete="off" [(ngModel)]="model.description" id="description" name="description" rows="3" class="form-control" placeholder="{{ 'Requests.RequestsNewMessage' | translate }}"></textarea>
      </div>
      <div class="row justify-content-center">
        <button [disabled]="newForm.invalid" type="submit" (click)="submit()" class="btn btn-success btn-requests"><i ></i>  <span [translate]="'Requests.Request'"></span></button>
      </div>
    </form>
    <!-- Other request -->
    <form *ngIf="model.alternateName=='OtherRequest'" #newForm="ngForm" >
      <div class="form-group">
        <h4 class="pt-2 pb-1" [translate]="'Requests.RequestsNewTitle'"></h4>
        <label class="text-gray-600 pb-1" for="title" [translate]="'Requests.RequestsNewTitleSum'"></label>
        <input maxlength="512" autocomplete="off" required="required" [(ngModel)]="model.name" type="text" id="title" name="title" class="form-control" placeholder="{{ 'Requests.RequestsNewTitle' | translate }}">
      </div>
      <div class="form-group">
        <h4 class="pt-2 pb-1" [translate]="'Requests.RequestsNewDescription'"></h4>
        <label class="text-gray-600 pb-1" for="description" [translate]="'Requests.RequestsNewFullMessage'"></label>
        <textarea maxlength="512" autocomplete="off" required [(ngModel)]="model.description" id="description" name="description" rows="3" class="form-control" placeholder="{{ 'Requests.RequestsNewMessage' | translate }}"></textarea>
      </div>
      <div class="row justify-content-center">
        <button [disabled]="newForm.invalid" type="submit" (click)="submit()" class="btn btn-success btn-requests"><i ></i>  <span [translate]="'Requests.Request'"></span></button>
      </div>
    </form>
  </div>
</div>
