<div class="row" *ngIf="!loading && registrations && registrations.length>0">
  <div class="col-lg-12">
    <div>
      <h2 class="py-4" [translate]="'RegistrationPrevious.Title'"></h2>
    </div>
    <p class="font-lg text-gray-600" [translate]="'Registrations.RegistrationHistoryInfo'"></p>
    <div>
      <div class="reg_courses_body">

        <div class="reg_courses_body__semesterChoice d-none d-lg-block">
          <!-- filtering By Semester -->
          <!-- <div (click)="removeSemesterFiltering()" [translate]="'Registrations.RemoveFilter'"></div> -->
          <div>
            <a *ngFor="let period of periods" (click)="filterByPeriod(period)" class="semesterChoice-item" href="javascript:void(0)"
              [ngClass]="{'chosenPeriodForFiltering': period == chosenPeriod}">
              {{period}}
            </a>
          </div>
        </div>

        <div class="reg_courses_body__main">
          <div class="rectangle-3" *ngFor="let registration of registrations">
            <div class="card-body">
              <div class="reg-history__semester-title">
                <span [attr.lang]="currentLanguage">
                    <span>{{ ('RegistrationPrevious.' + registration.registrationPeriod.alternateName) | translate }}</span>
                    <span>&nbsp;</span>
                    <span>{{'Registrations.Semester' | translate}}</span>
                    <span>&nbsp;</span>
                    <span>{{registration.registrationYear.name}}</span>
                </span>
              </div>
            <!-- Start of List Group -->
              <div class="d-flex flex-column">
                <!-- Start of List Group Header-->
                <ul class="sis--list-group sis--list-group-header">
                  <li class="sis--list-group-item">
                    <div class="d-flex">
                      <div class='sis--list-group-item_lg_column' [translate]="'Registrations.Course'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Code'"></div>
                      <div class='sis--list-group-item_md_column d-none d-sm-block' [translate]="'Registrations.Instructor'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Type'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.Semester'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.CP'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.ECTS'"></div>
                    </div>
                  </li>
                </ul>
                <!-- End of List Group Header-->

                <!-- Start of List Group Body-->
                <ul class="sis--list-group sis--list-group-body">
                  <li class="sis--list-group-item" *ngFor="let course of registration.classes">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class='sis--list-group-item_lg_column'>{{course?.courseClass?.title}}</div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.course.displayCode}}</div>
                      <div class='sis--list-group-item_md_column d-none d-sm-block'>
                        <div *ngFor="let instructor of course?.courseClass?.instructors">
                          {{instructor.instructor.familyName}}
                        </div>
                      </div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.courseType?.abbreviation}}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>{{course?.semester}}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>{{course?.units}}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>{{course?.ects}}</div>
                    </div>
                  </li>
                </ul>
                <!-- End of List Group Body-->

                <!--Show this when registration is empty-->
                <div class="d-flex" *ngIf="isEmptyRegistration">
                  <div class="col-12 text-center">
                    <h2 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h2>
                  </div>
                </div>
              </div>    <!-- End of List Group-->
            </div>
          </div>
        </div> <!-- End of reg_courses_body__main -->
      </div> <!-- End of reg_courses_body -->
    </div>

  </div>
  <div class="col-lg-3">
    <div class="d-none d-lg-block">

    </div>
  </div>
</div>

<div *ngIf="!loading && registrations && registrations.length===0" class =mt-3>
  <span class="text-gray-600" [translate]="'NoRegistrationFound'"></span>
</div>
