.modal-header {
  .modal-title {
    width: 100%;
  }

  button.close {
    position: relative;
    top: -4rem;
    right: -1.5rem;
    color: #FFF;
    font-size: 2rem;
    outline-style: none;
    opacity: 1;
  }
}

.text-gray-300.custom-control-label::before {
  border-color: #c2cfd6;
}
