<div class="row">
  <div class="col-lg-9">
    <h2 class="py-4" *ngIf="latestCourses[0]"> <span [translate]="'Grades.ExamPeriod'"></span>:
      {{latestCourses[0].courseExam.examPeriod.name}} {{latestCourses[0].courseExam.year.name}}
    </h2>

    <div *ngFor="let course of latestCourses; let i = index;">
      <div class="card d-none d-md-block">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="row">
                <div class="pl-2 pr-3 mt-n1 card-title font-lg">
                <h5 class="font-weight-normal">{{course.course.name}}</h5>
                </div>
              </div>
              <div class="row pl-2 pr-3">
                <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{course.course.displayCode}}</span>
                <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                  <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
                </div>
                <ng-template #notShow>
                  <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor.givenName}} {{instructor.instructor.familyName}}{{isLast ? '' : ', '}}</span>
                </span>
                </ng-template>
              </div>
            </div>
            <div class="container-fluid col-2 d-flex align-items-center justify-content-end">
              <button type="button" class="btn btn-outline-secondary btn-sm disabled btn-pill pr-4 pl-4" disabled [translate]="'Grades.Statistics'"></button>
            </div>
            <div class="container-fluid col-1 d-flex align-items-center justify-content-end font-weight-bold text-right" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">
              <span class="font-4xl d-md-block d-none">{{course.formattedGrade}}</span>
              <span class="font-2xl d-md-none d-sm-block">{{course.formattedGrade}}</span>
            </div>
          </div>
          </div>
        </div>
      <div class="d-sm-block d-md-none">
        <div class="mb-3">
      <card-collapsible [alternateHeader]="true">
        <card-header>
          <div class="row">
            <h5 class="col-9 font-lg font-weight-normal">{{course.course.name}}</h5>
            <span class="font-2xl col-1 justify-content-end text-nowrap text-right font-weight-bold d-md-none d-sm-block float-right" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</span>
          </div>
        </card-header>
        <card-alternate-header>
        </card-alternate-header>
        <card-body>
          <div class="row">
            <h5 class="col-7 font-lg font-weight-normal">{{course.course.name}}</h5>
            <div class="container col-4 mt-n2 font-weight-bold text-right text-nowrap" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">
              <span class="font-4xl d-md-block d-none">{{course.formattedGrade}}</span>
              <span class="font-2xl d-md-none d-sm-block">{{course.formattedGrade}}</span>
            </div>
          </div>
          <div class="row pl-3">
            <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{course.course.displayCode}}</span>
            <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
              <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
            </div>
            <ng-template #notShow>
                  <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor.givenName}} {{instructor.instructor.familyName}}{{isLast ? '' : ', '}}</span>
                </span>
            </ng-template>
          </div>
          <div class="row pl-3 mt-2">
              <button type="button" class="btn btn-outline-secondary btn-sm disabled btn-pill" disabled [translate]="'Grades.Statistics'"></button>
          </div>
        </card-body>
      </card-collapsible>
        </div>
      </div>
      </div>
  </div>

  <div class="col-lg-3">
    <div *ngIf="latestCourses[0]" class="d-none d-lg-block">
      <app-grades-statbox
        title = "{{ 'Grades.PeriodStats' | translate}}"
        statsPeriod = "{{ latestCourses[0].courseExam.examPeriod.name }} {{ latestCourses[0].courseExam.year.name }}"
        [registeredCourses] = "registeredCourseCount"
        [passedCourses] = "passedCourseCount"
        [failedCourses] = "failedCourseCount"
        [passedGradeAverage] = "passedGradeAverage"></app-grades-statbox>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && latestCourses && latestCourses.length === 0" class="mt-3">
  <span class="text-gray-600" [translate]="'Grades.NoGradesFound'"></span>
</div>
