<!--suppress HtmlUnknownTarget -->
<div class="reg2_page mt-3 mb-5" *ngIf="!loading">
  <ng-template #templateSuccess>
    <div class="modal-body text-center pb-0 pt-0">
      <div>
        <img src="assets/img/register_success_136x136.png" alt="Register Success">
      </div>
      <h1 class="modal-title pt-3" [translate]="'Modals.successTitle'"></h1>
      <div class="pt-2" [translate]="'Modals.successBody'"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal" [translate]="'Modals.ok'" (click)="closeModal()"></button>
    </div>
  </ng-template>

  <ng-template #templateFail>
    <div class="modal-header">
      <div class="modal-icon rounded-circle">
        <i class="fa-4x fas fa-window-close "></i>
      </div>
      <h4 class="modal-title text-center " [translate]="'Modals.error'"></h4>
      <h4 class="modal-title text-center">{{currentRegistrationResult.validationResult.message}}</h4>
    </div>
    <div class="modal-body">
      <div>
        <div class="failedLessons-container text-danger" *ngFor="let validationResult of currentRegistrationResult.validationResult.validationResults">
          <div *ngIf = "validationResult.code =='FAIL'">
          {{validationResult.message}}
        </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [translate]="'Modals.back'" (click)="backToEdit()" [routerLink]="['../overview']"></button>
      <button type="button" class="btn btn-cancel" [translate]="'Modals.close'" (click)="closeModal()"></button>
    </div>
  </ng-template>

  <ng-template #templatePSuccess>
    <div class="modal-header">
      <div class="modal-icon rounded-circle">
        <i class="fa-4x fas fa-exclamation-triangle"></i>
      </div>
      <h4 class="modal-title text-center" [translate]="'Modals.attention'"></h4>
      <h4 class="modal-title text-center">{{currentRegistrationResult.validationResult.message}}</h4>
    </div>
    <div class="modal-body">
      <div>
        <div class="failedLessons-container">
          <div  *ngFor="let failedCourse of failedCourses; let i = index;">
          <div class="failedLessons-container_item d-inline-block d-flex justify-content-center">
            <div class="failedLessons-container_item_title d-none d-sm-block">{{failedCourse.name}}</div>
            <div class="failedLessons-container_item_title d-block d-sm-none mb-2">{{failedCourse.name}}</div>
            <div class="failedLessons-container_item_description d-none d-sm-block" [translate]="'Checkout.ErrorDefault'"></div>
          </div>
            <div class="text-gray-600"  (click)="isCollapsed[i] = !isCollapsed[i]"><span class="align-text-top" [translate]="'Modals.details'" ></span>
              <i class="fa ml-2 align-text-bottom" [ngClass]="(isCollapsed[i])?'fa-chevron-up':'fa-chevron-down'"></i></div>
            <div *ngIf="isCollapsed[i]">
            <div class="text-gray-600">
              <div *ngIf="failedCourse.validationResult.validationResults; else novalidationResults">
                <div *ngFor="let message of failedCourse.validationResult.validationResults">
                  <div *ngIf="message.code == 'FAIL'">
                    {{message.message}}
                  </div>
                </div>
              </div>
              <ng-template #novalidationResults>
                  <div *ngIf="failedCourse.validationResult.code == 'FAIL'">
                    {{failedCourse.validationResult.message}}
                  </div>
              </ng-template>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-ok" [translate]="'Modals.back'" (click)="backToEdit()" [routerLink]="['../overview']"></button>
      <button type="button" class="btn btn-outline-secondary btn-cancel" [translate]="'Modals.close'" (click)="closeModal()"></button>
    </div>
  </ng-template>
  <div class="d-flex justify-content-between w-100">
    <div class="flex-grow-1">
      <div class="reg2__title-container d-inline-block d-flex justify-content-between mb-4 mt-2">
        <!-- TITLE-CONTAINER -->
        <h2 class="d-none d-inline-block pt-0 pb-0" [translate]="'Registrations.RegistrationCourses'"></h2>
        <div class="d-inline block w-auto d-flex flex-row-reverse pt-2">
          <!-- COMMENT: The button with three dots(It means more choices) will be hidden for now -->
          <!-- <div class="reg2__ellipsis-container">
            <i class="fas fa-ellipsis-v"></i>
          </div> -->
        </div>
      </div><!-- END OF TITLE-CONTAINER -->
      <div class="mb-5 font-lg mt-n4 text-gray-600" style="font-size:17px;" *ngIf="openRegistrationPeriod" [translate]="'CourseRegistration.RegistrationOpenDates'"
        [translateParams]="{start: start, end: end}"></div>
      <div class="text-success mb-3 font-lg" [ngClass]="{'reg2__edited': registrationEdited, 'text-success': !registrationEdited}"
        [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerText'"></div>
      <div class="font-lg mb-4">
        <span [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraText'"></span>
        <span class="ml-1 font-weight-bold" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraTextBold'"></span>
      </div>
      <!-- INFO CONTAINER -->
      <div class="reg2__info-container--horizontal d-lg-none d-sm-flex flex-column mb-3 mt-3 w-100">
        <div class="reg2__info-container__main-card--horizontal d-flex flex-column pt-3 pb-3 pr-3 pl-3">
          <div class="font-sm" [translate]="'Registrations.StatementOfRegistration'"></div>
          <div class="font-lg mt-2">
            <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
            <div class="text-success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          </div>
          <div class="reg2__info-container_buttons w-100 d-flex flex-row-reverse flex-wrap-reverse">
            <button class="reg2__button-primary btn reg2__success-button mt-3 mr-2"
                    type="button" [disabled]="clicked"  [translate]="'RegistrationsButtons.Submit'" *ngIf="registrationEdited" (click)="registerSelected(); clicked = true;"></button>
            <button class="reg2__button-primary btn reg2__btn--gray mt-3 mr-2" type="button" [translate]="'RegistrationsButtons.Edit'"
                    (click)="enableEdit()" [routerLink]="['../overview']"></button>
          </div>
        </div>
      </div>
    </div>
    <!--END OF FLEX GROW-1 (left part of reg2-page) -->


    <div class="reg2__buttons-container d-none d-lg-flex pt-3 ml-3">
      <ng-template #tooltipText><div [translate]="'NotAvailableFeature.PrintCourseRegistration'" class="text-secondary font-sm"></div></ng-template>
      <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-2 disabled" type="button" [tooltip]="tooltipText" placement="bottom">
        <span [translate]="'RegistrationsButtons.Print'"></span>
        <!-- <span class="arrow-down"></span> -->
      </button>
      <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-2" type="button" [translate]="'RegistrationsButtons.Edit'"
        (click)="enableEdit()" [routerLink]="['../overview']">
      </button>
    </div>
  </div>



  <div class="d-flex">

    <div class="reg2__lists-container">

      <div class="mt-4" *ngFor="let courses of coursesToRegister | groupBy: 'courseSemester' | orderBy: 'courseSemester' | values">
        <span class="sis--list-title">{{ courses[0].semester | semester }}</span>

        <!-- Start of List Group Header-->
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex">
              <div class='sis--list-group-item_lg_column' [translate]="'Registrations.Course'"></div>
              <div class='sis--list-group-item_md_column d-none d-sm-block' [translate]="'Registrations.Code'"></div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block' [translate]="'Registrations.Instructor'"></div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block' [translate]="'Registrations.Specialty'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Type'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.CP'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.ECTS'"></div>
            </div>
          </li>
        </ul>
        <!-- End of List Group Header-->

        <!-- Start of List Group Body-->
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let course of courses">
            <div class="d-flex justify-content-center align-items-center">
              <div class='sis--list-group-item_lg_column'>{{course?.name}}</div>
              <div class='sis--list-group-item_md_column d-none d-sm-block'>{{course?.displayCode}}</div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block'>
                <div *ngFor="let instructor of course?.courseClass?.instructors">
                  {{instructor.instructor.familyName}}
                </div>
              </div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block'>{{course?.specialty?.name}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.courseType?.abbreviation}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.units}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.ects}}</div>
            </div>
          </li>
        </ul>
        <!-- End of List Group Body-->

        <!--Show this when registration is empty-->
        <div class="d-flex" *ngIf="isEmptyRegistration">
          <div class="col-12 text-center">
            <h2 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h2>
          </div>
        </div>
      </div>
    </div>


    <!--RIGHT INFO-CONTAINER -->
    <div class="reg2__info-container d-none d-lg-flex flex-column pl-3 pr-3 mb-3">
      <div class="reg2__info-container__main-card rounded ml-3 mr-3 border-0 d-flex flex-column align-items-center pt-3 pb-3 pr-4 pl-4">
        <div class="reg2__info-container__main-card_img d-flex justify-content-center align-items-center text-gray-500">
          <i class="far fa-edit fa-4x"></i>
        </div>
        <div class="font-sm" [translate]="'Registrations.StatementOfRegistration'"></div>
        <div class="font-lg mt-2 mb-3 text-center">
          <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
          <div class="text-success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          <button class="reg2__button-primary btn reg2__success-button mt-3 mr-auto ml-auto"
                  type="button" [disabled]="clicked"  [translate]="'RegistrationsButtons.Submit'" *ngIf="registrationEdited" (click)="registerSelected(); clicked = true;"></button>
        </div>
        <hr class="w-100">
        <div class="reg2__counting-box d-flex text-gray-600 font-lg">
          <div class="flex-grow-1">
            <ul class="mt-2 p-0">
              <li class="mb-1 text-nowrap text-gray-600" [translate]="'Registrations.SelectedCourses'"></li>
              <li class="mb-1 text-nowrap text-gray-600" [translate]="'Registrations.TotalCp'"></li>
              <li class="mb-1 text-nowrap text-gray-600" [translate]="'Registrations.TotalEcts'"></li>
            </ul>

          </div>
          <div class="reg2__counting-box_right-side text-right">
            <ul class="mt-2 p-0">
              <li class="mb-1 text-nowrap text-gray-600">{{this.coursesToRegister?.length}}</li>
              <li class="mb-1 text-nowrap text-gray-600">{{this.totalUnits}}</li>
              <li class="mb-1 text-nowrap text-gray-600">{{this.totalEcts}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
