<div *ngIf="message">
  <h2 class="py-4">{{ "SemesterRegistration.title" | translate }}</h2>
  <div *ngIf="this.Status != 'Postgraduate'  && this.Status != 'Deadline' && this.Status !='Error' && this.Status !== 'Successful'"  class="mb-5 font-lg mt-n4 text-gray-600"
       [translate]="'SemesterRegistration.RegistrationSemesterOpenDates'" [translateParams]="{start: start, end: end}"></div>
  <app-msgbox
              [title]="message.title | translate"
              [icon]="message.icon | translate"
              [message]="message.message | translate: params"
              [extraMessage]="message.extraMessage | translate: params"
              [actionButton]="message.actionButton | translate: params"
              [actionText]="message.actionText | translate"
              [disableBut]="disableButton"
              (action)="registerSemester()">
  </app-msgbox>
</div>
