<div class="row">
    <div class="col-lg-9 col-sm-12 col-12">
        <div class="py-4">
            <h2 class="d-inline col-sm-8 col-12 mx-n4" [translate]="'Grades.AllGrades'"></h2>
          <ng-template #tooltipText><div [translate]="'NotAvailableFeature.PrintGrades'" class="text-secondary font-sm"></div></ng-template>
            <div class="dropdown text-right float-right">
                <button class="btn btn-light dropdown-toggle d-none d-md-block disabled" [tooltip]="tooltipText" placement="right"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown text-right float-right" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="mr-4-5" [translate]="'Grades.Print'"></span>
                </button>
                <button type="button" disabled class="disabled d-sm-block d-md-none col-sm-1 mx-n2 justify-content-end btn btn-brand pt-2">
                    <i class="fas fa-sliders-h fa-lg"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div *ngIf="groups" class="grade_filter-area d-sm-flex flex-wrap rounded d-none d-lg-block mt-3">
            <form class="form-inline p-3 col">
                <div class="form-group col-4 col-sm-5 flex-nowrap">
                    <label class="pr-4" for="searchText" [translate]="'Grades.OrderBy'"></label>
                    <select class="form-control flex-fill" (change)="onChangeGroup($event.target.value)">
                        <option [value]="group.attribute" *ngFor="let group of configuration.groups"
                                [translate]="group.title"></option>
                    </select>
                </div>
                <div class="form-group col-8 col-sm-7 flex-nowrap">
                    <label class="pr-4" for="searchText" [translate]="'Grades.Filter'"></label>
                    <input spellcheck="false" type="text" id="searchText" (keydown)="onSearchKeyDown($event)"
                           name="searchText" class="form-control col text-left" placeholder="{{ 'Grades.SearchPlaceholder' | translate }}" >
                </div>
            </form>
        </div>

        <div *ngIf="groups">
          <div class="mt-3" *ngFor="let group of groups">
            <div *ngIf="group.grades && group.grades.length">
              <!-- Start of List Group -->
              <div *ngIf="group[selectedGroup.attribute] && group[selectedGroup.attribute].id !== null && selectedGroup.attribute.toUpperCase()==='SEMESTER'.toUpperCase()">
              <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.id | semester}}</span>
              </div>
              <div *ngIf="selectedGroup.attribute.toUpperCase()==='COURSETYPE'.toUpperCase()">
                <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.name}}</span>
              </div>
            <div class="flex-column d-none d-md-block">
                        <!-- Start of List Group Header-->
                        <ul class="sis--list-group sis--list-group-header">
                            <li class="sis--list-group-item">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class='sis--list-group-item_lg_column' [translate]="'Grades.CourseName'"></div>
                                    <div class='sis--list-group-item_md_column d-none d-md-block' [translate]="'Grades.Code'"></div>
                                    <div class='sis--list-group-item_lg_column d-none d-xl-block' [translate]="'Grades.Teacher'"></div>
                                    <div class='sis--list-group-item_md_column d-none d-lg-block' [translate]="'Grades.ExamPeriod'"></div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'Grades.Type'"></div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'CP'"></div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'ECTS'"></div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'Grades.Coefficient'"></div>
                                    <div class='sis--list-group-item_sm_column' [translate]="'Grades.Grade'"></div>
                                </div>
                            </li>
                        </ul>
                        <!-- End of List Group Header-->

                        <!-- Start of List Group Body-->
                        <ul class="sis--list-group sis--list-group-body">
                            <li class="sis--list-group-item" *ngFor="let grade of group.grades">
                                <div class="d-flex justify-content-center align-items-center list-color">
                                    <div class='sis--list-group-item_lg_column'>{{grade.course.name}}</div>
                                    <div class='sis--list-group-item_md_column d-none d-md-block'>{{grade.course.displayCode}}</div>
                                    <div class='sis--list-group-item_lg_column d-none d-xl-block'>
                                <ng-container *ngIf="grade.gradeExam">
                                    <ng-container *ngIf="grade.gradeExam.instructors">
                                        <ng-container *ngFor="let examInstructor of grade.gradeExam.instructors;let i = index;">
                                            <div>{{examInstructor.instructor.familyName}}
                                                {{examInstructor.instructor.givenName}}</div>
                                            <!-- <span *ngIf="i<grade.gradeExam.instructors.length-1">,&nbsp;</span> -->
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                    </div>
                                    <div class='sis--list-group-item_md_column d-none d-lg-block'>{{grade.gradePeriodDescription}}  {{grade?.gradeYear?.alternateName}}</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.courseType.abbreviation}}</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.units}}</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.ects}}</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.coefficient}}</div>
                                    <div class='sis--list-group-item_sm_column font-weight-bold font-3xl text-right' [ngClass]="(grade.isPassed)?'text-success':'text-secondary'">{{grade.formattedGrade}}</div>
                                </div>
                                <div *ngIf="grade.courses && grade.courses.length>0">
                                  <div class="flex-centering list-color pt-2 pb-2" *ngFor="let course of grade.courses">
                                    <div class='sis--list-group-item_lg_column pl-4'>{{course.course.name}}</div>
                                    <div class='sis--list-group-item_md_column d-none d-md-block'>{{course.course.displayCode}}</div>
                                    <div class='sis--list-group-item_lg_column d-none d-xl-block'>
                                      <ng-container *ngIf="course.gradeExam">
                                        <ng-container *ngIf="course.gradeExam.instructors">
                                          <ng-container *ngFor="let examInstructor of course.gradeExam.instructors;let i = index;">
                                            <div>{{examInstructor.instructor.familyName}}
                                              {{examInstructor.instructor.givenName}}</div>
                                            <!-- <span *ngIf="i<grade.gradeExam.instructors.length-1">,&nbsp;</span> -->
                                          </ng-container>
                                        </ng-container>
                                      </ng-container>
                                    </div>
                                    <div class='sis--list-group-item_md_column d-none d-lg-block'>{{course.gradePeriodDescription}} {{course?.gradeYear?.alternateName}}</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                                    <div class='sis--list-group-item_sm_column font-weight-bold font-1xl text-right' [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</div>
                                  </div>
                                </div>
                            </li>
                        </ul>
                        <!-- End of List Group Body-->

                <div class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2">
                    <div>
                        <span [translate]="'Grades.TotalCourses'"></span>:
                        <span class="font-weight-bold">{{ group.grades && group.grades.length || 0 }}</span>
                    </div>
                    <div class="mt-1">
                        <span [translate]="'Grades.GradeAverage'"></span>: <span
                            class="font-weight-bold">{{ group.average }}</span>
                    </div>
                    <div class="mt-1">
                        <span [translate]="'Grades.TotalEcts'"></span>:
                        <span class="font-weight-bold">{{ group.grades | pluck : 'ects' | sum }}</span>
                    </div>
                </div>

                    </div><!-- End of List Group-->
              <div class="d-sm-block d-md-none">
              <div class="mb-3" *ngFor="let grade of group.grades">
                <card-collapsible [alternateHeader]="true">
                  <card-header>
                    <div class="row">
                      <h5 class="col-9 font-sm font-weight-normal">{{grade.course.name}}</h5>
                      <span class="font-2xl col-1 justify-content-end text-nowrap text-right font-weight-bold d-md-none d-sm-block float-right" [ngClass]="(grade.isPassed)?'text-success':'text-secondary'">{{grade.formattedGrade}}</span>
                    </div>
                  </card-header>
                  <card-alternate-header>
                  </card-alternate-header>
                  <card-body>
                    <div class="row">
                      <h5 class="col-7 font-sm font-weight-normal">{{grade.course.name}}</h5>
                      <div class="container col-4 font-weight-bold text-right text-nowrap" [ngClass]="(grade.isPassed)?'text-success':'text-secondary'">
                        <span class="font-4xl d-md-block d-none">{{grade.formattedGrade}}</span>
                        <span class="font-2xl d-md-none d-sm-block">{{grade.formattedGrade}}</span>
                      </div>
                    </div>
                    <div class="row pl-3 font-sm">
                      <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{grade.course.displayCode}}</span>
                      <ng-container *ngIf="grade.gradeExam">
                      <ng-container *ngIf="grade.gradeExam.instructors; else notShow">
                        <ng-container *ngFor="let examInstructor of grade.gradeExam.instructors;let i = index;">
                          <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i>{{examInstructor.instructor.familyName}}
                            {{examInstructor.instructor.givenName}}</span>
                          <!-- <span *ngIf="i<grade.gradeExam.instructors.length-1">,&nbsp;</span> -->
                        </ng-container>
                      </ng-container>
                        <ng-template #notShow>
                          <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i>{{'Grades.InstructorNotFound' | translate}}</span>
                        </ng-template>
                      </ng-container>
                    </div>
                    <div class="row pl-3 mt-2">
                      <button type="button" class="btn btn-outline-secondary btn-sm disabled btn-pill" disabled [translate]="'Grades.Statistics'"></button>
                    </div>
                  </card-body>
                </card-collapsible>
              </div>
                <div class="footer-text text-secondary font-weight-normal text-right font-sm mt-3 mr-2">
                  <div>
                    <span [translate]="'Grades.TotalCourses'"></span>:
                    <span class="font-weight-bold">{{ group.grades && group.grades.length || 0 }}</span>
                  </div>
                  <div class="mt-1">
                    <span [translate]="'Grades.GradeAverage'"></span>: <span
                    class="font-weight-bold">{{ group.average }}</span>
                  </div>
                  <div class="mt-1">
                    <span [translate]="'Grades.TotalEcts'"></span>:
                    <span class="font-weight-bold">{{ group.grades | pluck : 'ects' | sum }}</span>
                  </div>
                </div>
            </div>
                </div>
            </div>
        </div>  <!-- End of *ngIf="groups" -->

    </div>
    <div class="col-lg-3">
        <div class="d-none d-lg-block">
            <app-grades-statbox
                    title="{{ 'Grades.Statistics' | translate }}"
                    statsPeriod="{{ 'Grades.InTotal' | translate }}"
                    [registeredCourses]="registeredCourses"
                    [passedCourses]="passedCourses"
                    [failedCourses]="failedCourses"
                    [passedGradeAverage]="passedGradeAverage"></app-grades-statbox>
        </div>
    </div>
</div>


<div *ngIf="!isLoading && data && data.length === 0" class="mt-3">
  <span class="text-info" [translate]="'Grades.NoGradesFound'"></span>
</div>
