.requests_new-card {
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.requests_new-card__content {
  padding-bottom: 16px;
}

.requests_new-card__title {
  padding-top: 10px;
  padding-bottom: 8px;
}

.requests_new-card__title h3 {
  margin:0;
}

.requests_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  margin-bottom: 3%;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  background-color: #F0F3F5;
  place-content: center;
}
.rectangle-3 {
  margin-top: 15px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}
.btn-success {
  border-radius: 3px;
  margin-left: 5%;
}
.btn-secondary {
  right: 10px;
  color: #29363D;
  font-size: 14px;
  letter-spacing: -0.33px;
  line-height: 19px;
  text-align: center;
}

.btn-requests-grey {
  border-color:  #F0F3F5!important;
  background-color: #F0F3F5!important;
}

.btn-requests {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

.modal-body {
  text-align: left!important;
}

.modal-header {
  padding-bottom: 0;
  align-items: flex-start;
  font-size: 22px;
}

.border-left-3 {
  border-left-width: 3px !important;
}
