@import "~node_modules/@universis/theme/scss/bootstrap/variables";
.card {
    width: 100%;
    background-color: #FFFFFF;
}

.msgbox_main-container {
    display: flex;
    margin:30px 40px 30px 40px;
}

.msgbox_title{
  text-transform: uppercase;
  color: #536C79;
}

.msgbox_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.msgbox_icon {
    padding-right:60px;
    padding-left:20px;
    display: flex;
    align-items: center;
}

.msgbox_item {
    display: flex;
    margin-top:15px;
    margin-bottom:15px;
}

/************** MOBILE UI ***************/

@media screen and (max-width: 600px) {

.msgbox_main-container {                        // Mobile
    flex-direction: column;
    align-items: center;
}

.msgbox_item {                                  // Mobile
    justify-content: center;
    text-align: center;
}

.msgbox_icon {                                  // Mobile     
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
}

}
