<div class="row" *ngIf="!isLoading">
  <div class="col-lg-9">
    <div>
      <h2 class="py-4" [translate]="'Grades.ThesesGrades'"></h2>
    </div>

    <div *ngFor="let thesis of thesisInfo">
      <div class='card d-none d-md-block'>
        <div class='card-body'>
          <div class='row'>
            <div class="col-12">
              <div class='d-flex'>
                <div class='p-2 w-100 text-dark'>
                  <div class='font-xl mb-2' >
                      {{thesis?.thesis?.name}}
                  </div>
                  <div class='card-body-title'>
                    <span class='mr-4' *ngIf="thesis.thesis.instructor">
                        <i class ="fa fa-user-secret mr-2"></i>
                        {{thesis?.thesis?.instructor?.familyName}} {{thesis?.thesis?.instructor?.givenName}}
                    </span>
                    <span class='mr-4' *ngIf="thesis.thesis.units">
                        <span class="text-details mr-2" [translate]="'CP'"></span>
                        {{thesis?.thesis?.units}}
                    </span>
                    <span class='mr-4' *ngIf="thesis.thesis.ects">
                        <span class="text-details mr-2" [translate]="'ECTS'"></span>
                        {{thesis?.thesis?.ects}}
                    </span>
                    <span class='mr-4' *ngIf="thesis.thesis.coefficient">
                        <span class="text-details mr-2" [translate]="'Grades.Coefficient'"></span>
                        {{thesis?.thesis?.coefficient}}
                    </span>
                  </div>
                </div> <!-- row -->

                <div class='p-2 flex-shrink-1  justify-content-center align-items-center font-weight-bold text-right' [ngClass]="(thesis.thesis.isPassed)?'text-success':'text-secondary'">
                <span class="font-4xl">{{thesis?.thesis?.formattedGrade}}</span>
              </div> <!-- row -->
              </div>
            </div>
          </div>

          <div class='row' *ngIf="thesis?.results && thesis?.results.length>0">
            <div class="col-12">
              <ul class="sis--list-group sis--list-group-header">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="sis--list-group-item_lg_column">{{ 'Grades.CommitteeGrades' | translate}}</div>
                    <div class="sis--list-group-item_sm_column">{{ 'Grades.Grade' | translate}}</div>
                  </div>
                </li>
              </ul>
              <ul class="sis--list-group sis--list-group-body">
                <li class="sis--list-group-item" *ngFor="let grades of thesis?.results">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">{{grades?.instructor?.familyName}} {{grades?.instructor?.givenName}}</div>
                    <div class="sis--list-group-item_sm_column">{{grades?.formattedGrade}}</div>
                  </div>
                </li>
              </ul>
            </div>
          </div><!-- row -->
        </div>
      </div>
      <div class="d-sm-block d-md-none">
        <div class="mb-3">
          <card-collapsible>
            <card-header>
              <div class="row">
                <h5 class="col-9 font-lg font-weight-normal"> {{thesis?.thesis?.name}}</h5>
                <span class="font-2xl col-1 justify-content-end text-nowrap text-right font-weight-bold d-md-none d-sm-block float-right" [ngClass]="(thesis?.thesis?.isPassed)?'text-success':'text-secondary'">{{thesis?.thesis?.formattedGrade}}</span>
              </div>
            </card-header>
            <card-alternate-header>
            </card-alternate-header>
            <card-body>
              <div class="row mb-3" *ngIf="thesis?.results && thesis?.results.length>0">
                <div class="container">
                  <ul class="sis--list-group sis--list-group-header">
                    <li class="sis--list-group-item">
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="sis--list-group-item_lg_column">{{ 'Grades.CommitteeGrades' | translate}}</div>
                        <div class="sis--list-group-item_sm_column">{{ 'Grades.Grade' | translate}}</div>
                      </div>
                    </li>
                  </ul>
                  <ul class="sis--list-group sis--list-group-body">
                    <li class="sis--list-group-item" *ngFor="let grades of thesis?.results">
                      <div class="d-flex justify-content-center align-items-center list-color">
                        <div class="sis--list-group-item_lg_column">{{grades?.instructor?.familyName}} {{grades?.instructor?.givenName}}</div>
                        <div class="sis--list-group-item_sm_column">{{grades?.formattedGrade}}</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="container">
                  <span class='mr-4' *ngIf="thesis.thesis.instructor">
                    <i class ="fa fa-user-secret mr-2"></i>
                    {{thesis?.thesis?.instructor?.familyName}} {{thesis?.thesis?.instructor?.givenName}}
                  </span>
                  <span class='mr-4' *ngIf="thesis.thesis.units">
                    <span class="text-details mr-2" [translate]="'CP'"></span>
                    {{thesis?.thesis?.units}}
                  </span>
                  <span class='mr-4' *ngIf="thesis.thesis.ects">
                    <span class="text-details mr-2" [translate]="'ECTS'"></span>
                    {{thesis?.thesis?.ects}}
                  </span>
                  <span class='mr-4' *ngIf="thesis.thesis.coefficient">
                    <span class="text-details mr-2" [translate]="'Grades.Coefficient'"></span>
                    {{thesis?.thesis?.coefficient}}
                  </span>
                </div>
              </div>
            </card-body>
          </card-collapsible>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && thesisInfo && thesisInfo.length === 0">
      <div class='card'>
        <div class='card-body'>
          <div class='row'>
            <div class="col-12">
              <span class="text-gray-600" [translate]="'Grades.NoThesesFound'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
